[submodule "base-bcu"]
	path = software/base-bcu
	url = https://github.com/M-Welsch/base-bcu.git
[submodule "base-webapp"]
	path = software/base-webapp
	url = https://github.com/M-Welsch/base-webapp.git
[submodule "base-sbu"]
	path = software/base-sbu
	url = https://github.com/M-Welsch/base-sbu.git
[submodule "hardware/circuit_boards/base-pcb-power"]
	path = hardware/circuit_boards/base-pcb-power
	url = https://github.com/M-Welsch/base-pcb-power.git
[submodule "hardware/circuit_boards/base-pcb-hmi"]
	path = hardware/circuit_boards/base-pcb-hmi
	url = https://github.com/M-Welsch/base-pcb-hmi.git
[submodule "hardware/circuit_boards/base-pcb-sata-adapter-carriage"]
	path = hardware/circuit_boards/base-pcb-sata-adapter-carriage
	url = https://github.com/M-Welsch/base-pcb-sata-adapter-carriage.git
[submodule "hardware/circuit_boards/base-pcb-sata-adapter-hdd"]
	path = hardware/circuit_boards/base-pcb-sata-adapter-hdd
	url = https://github.com/M-Welsch/base-pcb-sata-adapter-hdd.git
