[submodule "base-bcu"]
	path = software/base-bcu
	url = https://github.com/M-Welsch/base-bcu.git
[submodule "base-webapp"]
	path = software/base-webapp
	url = https://github.com/M-Welsch/base-webapp.git
[submodule "base-sbu"]
	path = software/base-sbu
	url = https://github.com/M-Welsch/base-sbu.git
[submodule "hardware/circuit_boards/base-pcb-power"]
	path = hardware/circuit_boards/base-pcb-power
	url = https://github.com/M-Welsch/base-pcb-power.git
