SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="b45e", SYMLINK+="ttyBASEPCU"
ACTION=="add", SUBSYSTEM=="block", ATTRS{idVendor}=="0951", ATTRS{idProduct}=="1666", SYMLINK+="BACKUPHDD"
