[Unit]
Description=Backup Server's Backup Control Unit (BCU)

[Service]
User=base
Group=base
Type=simple
Environment="SCRIPT_ARGS=%I"
WorkingDirectory=/home/base/backup-server/software/bcu
ExecStart=python3 /home/base/backup-server/software/bcu $SCRIPT_ARGS

[Install]
WantedBy=multi-user.target
